.players-box {
    width: 100%;
    height: 100%;
    gap: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.player-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1.5px solid #339989;
    padding: 8px 12px;
    
    height: 240px;
    width: 180px;
    border-radius: 8px;
}

.player-card .name {
    font-size: 22px;
    font-weight: 600;
}