@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #FFFAFB;
  background-color: #2B2C28;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #7DE2D1;
  text-decoration: inherit;
}
a:hover {
  color: #339989;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
}

h1 {
  font-size: 2.2em;
  font-weight: 500;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #131515;
  cursor: pointer;
  transition: border-color 0.25s;
}
button#primary:hover {
  border-color: #7DE2D1;
}
button#secondary:hover {
  border-color: #339989;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #131515;
    background-color: #ffffff;
  }
  a:hover {
    color: #339989;
  }
  button {
    background-color: #f9f9f9;
  }
}
